body{
    font-family: 'Nunito', sans-serif;
}

.container{
    margin: 0 auto;
    width: 56%;
    border: 1px solid;
}

.sec-hc h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #575859;
}

.slider{
    display:flex;
    justify-content: space-between;
    text-align:center;
}

.microphone img{
    width:50%;
}

.img-hc, .microphone{
    border:1px solid red;
    max-width:18%;
    max-height:18%;
}
.img-hc img{
    width:100%;
} 
.img-hc figcaption{
    position:relative;
    display:none;
}   
figure{
    margin:0;
    
}