body{
    font-family: 'Nunito', sans-serif;
}

.container{
    margin: 0 auto;
    width: 80%;
    border: 1px solid;
}

.sec-hc h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #575859;
}

.sec-hc h1 b{
    border-top: 2px solid #ffdc00; 
    padding-top : 1.4vh;
}

.sec-hc .slider{
    border:1px solid; 
    display:flex; 
    justify-content:space-between;
}

.sec-hc figure{
    background-color: #ffdc00;
    margin:0;
}

.sec-hc div:not(.microphone){
    border:1px solid;
}