@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


*{
    transition: 0.3s;
}
html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    font-size: 1.5rem;
    font-family: 'Nunito',  sans-serif;
    text-align:center;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1vh;
    overflow: hidden;
}

nav a{
    text-decoration : none;
    color : #353535;
    border: 0px; 
    padding:0 1vw;!important;
    
}

nav .active, nav a:hover:not(:first-child){
border-bottom : 4px solid #FDC300;

}

.icon:hover{
    border: none!important; 
}


nav a img.logo{
    width: 30vh; 
    margin-right: 1vw;
}

nav a img.icon-house{
    width:3vh;     
}

.trigger{
    width:5vh;
}

/* icon trigger */
nav .icon, nav .mobile-menu{
    display: none;
}




@media screen and (max-width: 1300px) {
    nav{
        width:90vw;
    }
}

@media screen and (max-width: 1040px) {
    nav{
        width:95vw;
    }
}

@media screen and (max-width: 980px) {
    nav{
        width:99vw;
    }
}

@media screen and (max-width: 800px) {
    .none{
        display: none;
    }
    
    /* icon trigger */
    nav .icon{
        display: block;
        padding:0 !important;
    }
    .link-menu{
        display: block;
        padding : 1vh 0 ! important;
    }

    nav {
        display:block;
        
    }
    nav a:first-child, nav a:nth-child(2){

        display: inline-flex;
        align-items: center;

    }

    nav a:nth-child(2){    
        margin-right:-10vw;
        margin-left: 10vw;
        margin-top: 3vh; 
        vertical-align:top
    }
    nav a:first-child{
        margin-left: -10vw;      
    }

        
  }
  